.Wrap {
    position: relative;
}
.Content {
    position: absolute;
    bottom: calc(100% + 4px);
    left: 0;
    background-color: #000000c7;
    color: white;
    line-height: 1;
    padding: 5px 12px;
    border-radius: 2px;
    visibility: hidden;
    transform-origin: center;
    &.open {
        visibility: visible;
    }
}