@import './styles/index.scss';
// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$red-hover: #dc354530;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-middark: #6c757d30;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$gray-hover-opaque: #edeeef;
$gray-hover-darker-opaque: #f6f6f7;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;
$brick-light: #e2302810;
$white: #fff;
$light: #f8f9fa;
$dark: #343a40;
$black: #000;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-blue: #3391ff;
$dark-m-purple: #9673b9;
$dark-m-purple-mid: #9673b9bb;
$dark-m-purple-light: #40008050;


html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; // 不要设置为 min-height: 100vh; 因为使用useLockBodyScroll时， body会添加或修改这个样式 overflow: hidden; 
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

.h-100 {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
img.small-image {
  width: 120px;
  height: auto;
  min-height: 120px;
  background-color: #bbbbbb;

}
  

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  user-select: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  .navbar-left {
    color: $gray-mid;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    width: 3rem;

    &:hover {
      color: $gray;
    }
  }
  
  .navbar-middle {
    color: $gray;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

    span {
      color: $pblue;
    }
  }

  .navbar-right {
    color: $gray;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    width: 3rem;
  }

  .expand {
    background: $gray-light-opaque;
    color: $gray;
    display: flex;
    flex-direction: column;
    width: 100vw;
    z-index: 9999;

    & > * {
      border-bottom: 1px solid $green-light;
      border-top: 1px solid $green-light;
      padding: 1.5rem;
      transition: all .15s ease-in-out;

      &:hover {
        background-color: $gray-hover;
      }

      span.focused {
        background-color: $pblue-light;
        color: $pblue;
        padding: .25rem;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .Navbar {
    .expand {
      height: 100%;
      overflow: auto;
      transform: none !important;
    }
  }
}

@media (min-width: $screen-md) {
  .App {
    margin-left: 5rem;
    padding: .75rem;
  }
  .Navbar {
    background-color: $gray-light-opaque;
    flex-direction: column;
    height: 100%;
    position: fixed;
    left: 0;
    justify-content: flex-start;
    width: 5rem;
    z-index: 999;

    .navbar-left {
      margin-bottom: .5rem;
      margin-top: auto;

      order: 3;
    }

    .navbar-middle {
      font-size: .6rem;
      order: 1;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 54px;
      word-wrap: break-word;
      text-align: center;
    }

    .navbar-right {
      order:2;
      // padding-bottom: 0;
      // padding-top: 0;
    }
    .expand {
      
    }
  }
}
